<section class="about-section">
    <div class="section-head text-center">
      <!-- <h4>class="container" Teachers</h4> -->
      <h5>Join thousands of students and earn knowledge hassle-free</h5>
    </div>
  
    <div class="section-body container">
      <div class="row">
  
        <div class="col-md-3 col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-clock"></i></h5>
              <p class="card-text">Some quick example text to build on the.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-map-marker"></i></h5>
              <p class="card-text">Some quick example text to build on the.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-envelope"></i></h5>
              <p class="card-text">Some quick example text to build on the.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-phone"></i></h5>
              <p class="card-text">Some quick example text to build on the.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>