
<app-sheard-header pgTitle="Blog" bgImgage="bg-2.jpg"></app-sheard-header>

<br><br><br><br>
<section class="p-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-cards">
          <div class="row">
            <div class="col-md-12">

              <div class="card">
                <img class="card-img-top" src="assets/image/blog/blog1.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="card-info">
                      <ul>
                        <li>
                          <i class="far fa-calendar-alt"></i>
                          <span>
                            <time 
                                class="entry-date published updated" 
                                datetime="2021-07-17T11:48:33+00:00">
                                July 17, 2021
                            </time>
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-user"></i>
                          <span>Sara Syed</span>
                        </li>
                        <li>
                          <i class="far fa-comment-dots"></i>
                          <span>
                            <strong> 3 </strong>
                            Comments
                          </span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="card-title">How to Learn Development Fast and Easy</h5>
                    <p class="card-text">
                        Scelerisque ante platea nullam himenaeos quam 
                        sollicitudin ullamcorper sodales tristique massa duis 
                        class volutpat donec neque molestie lorem, potenti amet platea 
                        convallis purus per convallis etiam quis nisi per sodales sapien. 
                        Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est […]
                  </p>
                  <a href="" class="btn">Read More...</a>
                </div>
              </div>


              <div class="card">
                <img class="card-img-top" src="assets/image/blog/blog2.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="card-info">
                      <ul>
                        <li>
                          <i class="far fa-calendar-alt"></i>
                          <span>
                            <time 
                                class="entry-date published updated" 
                                datetime="2021-07-17T11:48:33+00:00">
                                July 17, 2021
                            </time>
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-user"></i>
                          <span>Sara Syed</span>
                        </li>
                        <li>
                          <i class="far fa-comment-dots"></i>
                          <span>
                            <strong> 3 </strong>
                            Comments
                          </span>
                        </li>
                      </ul>
                    </div>
                  <h5 class="card-title">How to Learn Development Fast and Easy</h5>
                  <p class="card-text">
                      Scelerisque ante platea nullam himenaeos quam 
                      sollicitudin ullamcorper sodales tristique massa duis 
                      class volutpat donec neque molestie lorem, potenti amet platea 
                      convallis purus per convallis etiam quis nisi per sodales sapien. 
                      Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est […]
                </p>
                  <a href="" class="btn ">Read More...</a>
                </div>
              </div>

              
              <div class="card">
                <img class="card-img-top" src="assets/image/blog/blog3.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="card-info">
                      <ul>
                        <li>
                          <i class="far fa-calendar-alt"></i>
                          <span>
                            <time 
                                class="entry-date published updated" 
                                datetime="2021-07-17T11:48:33+00:00">
                                July 17, 2021
                            </time>
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-user"></i>
                          <span>Sara Syed</span>
                        </li>
                        <li>
                          <i class="far fa-comment-dots"></i>
                          <span>
                            <strong> 3 </strong>
                            Comments
                          </span>
                        </li>
                      </ul>
                    </div>
                  <h5 class="card-title">How to Learn Development Fast and Easy</h5>
                  <p class="card-text">
                      Scelerisque ante platea nullam himenaeos quam 
                      sollicitudin ullamcorper sodales tristique massa duis 
                      class volutpat donec neque molestie lorem, potenti amet platea 
                      convallis purus per convallis etiam quis nisi per sodales sapien. 
                      Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est […]
                </p>
                  <a href="" class="btn ">Read More...</a>
                </div>
              </div>

              
              <div class="card">
                <img class="card-img-top" src="assets/image/blog/blog4.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="card-info">
                      <ul>
                        <li>
                          <i class="far fa-calendar-alt"></i>
                          <span>
                            <time 
                                class="entry-date published updated" 
                                datetime="2021-07-17T11:48:33+00:00">
                                July 17, 2021
                            </time>
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-user"></i>
                          <span>Sara Syed</span>
                        </li>
                        <li>
                          <i class="far fa-comment-dots"></i>
                          <span>
                            <strong> 3 </strong>
                            Comments
                          </span>
                        </li>
                      </ul>
                    </div>
                  <h5 class="card-title">How to Learn Development Fast and Easy</h5>
                  <p class="card-text">
                      Scelerisque ante platea nullam himenaeos quam 
                      sollicitudin ullamcorper sodales tristique massa duis 
                      class volutpat donec neque molestie lorem, potenti amet platea 
                      convallis purus per convallis etiam quis nisi per sodales sapien. 
                      Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est […]
                </p>
                  <a href="" class="btn ">Read More...</a>
                </div>
              </div>
              
              
              <div class="card">
                <img class="card-img-top" src="assets/image/blog/blog7.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="card-info">
                      <ul>
                        <li>
                          <i class="far fa-calendar-alt"></i>
                          <span>
                            <time 
                                class="entry-date published updated" 
                                datetime="2021-07-17T11:48:33+00:00">
                                July 17, 2021
                            </time>
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-user"></i>
                          <span>Sara Syed</span>
                        </li>
                        <li>
                          <i class="far fa-comment-dots"></i>
                          <span>
                            <strong> 3 </strong>
                            Comments
                          </span>
                        </li>
                      </ul>
                    </div>
                  <h5 class="card-title">How to Learn Development Fast and Easy</h5>
                  <p class="card-text">
                      Scelerisque ante platea nullam himenaeos quam 
                      sollicitudin ullamcorper sodales tristique massa duis 
                      class volutpat donec neque molestie lorem, potenti amet platea 
                      convallis purus per convallis etiam quis nisi per sodales sapien. 
                      Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est […]
                </p>
                  <a href="" class="btn ">Read More...</a>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <aside class="blod-asid">

          <section class="widget">
            
            <div class="widget-body">
              <form>
                  <input type="text" class="form-control" id="blog-search" aria-describedby="searchHelp" placeholder="Blog Search">
                  <button type="submit" class="btn btn-warning">
                    <i class="fas fa-search"></i>
                  </button>  
              </form>
            </div>
          </section>


          <section class="widget">
            <div class="widget-title">
              Recent Posts
              <hr>
            </div>
            <div class="widget-body">
              <div class="blog-posts">
                <ul>
                  <li>
                    <div class="post-img">
                      <img src="assets/image/events/event5.jpg" alt="">
                    </div>
                    <div class="post-info">
                      <div class="post-title">
                        <a href="">
                          How to Learn Faster and Remember
                        </a>
                      </div>
                      <div class="post-date">
                        July 17, 2021
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="post-img">
                      <img src="assets/image/events/event5.jpg" alt="">
                    </div>
                    <div class="post-info">
                      <div class="post-title">
                        <a href="">
                          How to Learn Faster and Remember
                        </a>
                      </div>
                      <div class="post-date">
                        July 17, 2021
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="post-img">
                      <img src="assets/image/events/event5.jpg" alt="">
                    </div>
                    <div class="post-info">
                      <div class="post-title">
                        <a href="">
                          How to Learn Faster and Remember
                        </a>
                      </div>
                      <div class="post-date">
                        July 17, 2021
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="widget">
            <div class="widget-title">
              Categories
              <hr>
            </div>
            <div class="widget-body">
              <div class="blog-posts">
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
            </div>
          </section>



          <section class="widget">
            <div class="widget-title">
                Popular Tags
              <hr>
            </div>
            <div class="widget-body">
              <div class="tags">
                <a href="">JS </a> 
                <a href="">HTML5 </a> 
                <a href="">CSS3 </a> 
                <a href="">Node.JS </a> 
                <a href="">Angular </a> 
                <a href="">MongoDB </a> 
                <a href="">Express </a>
                <a href="">Ionic </a>
              </div>
            </div>
          </section>


        </aside>

      </div>
    </div>


    <div class="row">
      <div class="blog-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
            <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item"><a class="page-link" href="">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

</section>



<!-- Events-->
<!-- <section class="events">
    <div class="section-head text-center">
      <h4>Our Letest Events</h4>
      <h5>Lorem Ipsum has been the industry's standard dummy</h5>
    </div>
  
    <div class="section-body">
        
        <div class="container">
            <div class="row">
    
            <div class="col-md-6">
                <div class="card" >
                <img class="card-img-top" src="assets/image/events/event0.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="top-event-info">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <span><i class="fas fa-user-edit"></i> By fdsgs</span>
                        <span> | </span>
                        <span> Event </span>
                    </div>
                    </div>
                    <h5 class="card-title">readable content </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="d-flex flex-row bd-highlight bottom-body">
                    <i class="fas fa-stopwatch"></i> 2/Jan/2020
                    <p class="ml-auto share-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                    </div>
                </div>
                </div>
            </div>
    
    
            <div class="col-md-6">
                <div class="card" >
                <img class="card-img-top" src="assets/image/events/event1.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="top-event-info">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <span><i class="fas fa-user-edit"></i> By fdsgs</span>
                        <span> | </span>
                        <span> Event </span>
                    </div>
                    </div>
                    <h5 class="card-title">readable content </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="d-flex flex-row bd-highlight bottom-body">
                    <i class="fas fa-stopwatch"></i> 2/Jan/2020
                    <p class="ml-auto share-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                    </div>
                </div>
                </div>
            </div>
    
    
            <div class="col-md-6">
                <div class="card" >
                <img class="card-img-top" src="assets/image/events/event2.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="top-event-info">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <span><i class="fas fa-user-edit"></i> By fdsgs</span>
                        <span> | </span>
                        <span> Event </span>
                    </div>
                    </div>
                    <h5 class="card-title">readable content </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="d-flex flex-row bd-highlight bottom-body">
                    <i class="fas fa-stopwatch"></i> 2/Jan/2020
                    <p class="ml-auto share-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                    </div>
                </div>
                </div>
            </div>
    
    
            <div class="col-md-6">
                <div class="card" >
                <img class="card-img-top" src="assets/image/events/event3.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="top-event-info">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <span><i class="fas fa-user-edit"></i> By fdsgs</span>
                        <span> | </span>
                        <span> Event </span>
                    </div>
                    </div>
                    <h5 class="card-title">readable content </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="d-flex flex-row bd-highlight bottom-body">
                    <i class="fas fa-stopwatch"></i> 2/Jan/2020
                    <p class="ml-auto share-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                    </div>
                </div>
                </div>
            </div>
    
            
            <div class="col-md-6">
                <div class="card" >
                <img class="card-img-top" src="assets/image/events/event4.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="top-event-info">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <span><i class="fas fa-user-edit"></i> By fdsgs</span>
                        <span> | </span>
                        <span> Event </span>
                    </div>
                    </div>
                    <h5 class="card-title">readable content </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="d-flex flex-row bd-highlight bottom-body">
                    <i class="fas fa-stopwatch"></i> 2/Jan/2020
                    <p class="ml-auto share-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                    </div>
                </div>
                </div>
            </div>
    
    
            <div class="col-md-6">
                <div class="card" >
                <img class="card-img-top" src="assets/image/events/event5.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="top-event-info">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <span><i class="fas fa-user-edit"></i> By fdsgs</span>
                        <span> | </span>
                        <span> Event </span>
                    </div>
                    </div>
                    <h5 class="card-title">readable content </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="d-flex flex-row bd-highlight bottom-body">
                    <i class="fas fa-stopwatch"></i> 2/Jan/2020
                    <p class="ml-auto share-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                    </div>
                </div>
                </div>
        
            </div>
            </div>
      </div>
  
    </div>
  
    <div class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h2>Next Event</h2>
          </div>
          <div class="col-md-4 text-center">
            <h1>03</h1>
              APR 2017
          </div>
          <div class="col-md-6">
            <p>
              Concert in the Park
              Come and visit with us, ask questions, try out a couple instruments and enjoy some great music!
  
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Events-->
  