
<app-sheard-header pgTitle="Features"  bgImgage="bg-4.jpg"></app-sheard-header>
<!--Our SERVICES-->
<section class="services">
    <div class="section-head text-center">
      <h4>OUR SERVICES</h4>
      <h5>We make your child happy day after day </h5>
    </div>
  
    <div class="section-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="daily-care">
              <div class="dayli-ttile">
                <h3>OUR DAILY CARE</h3>
              </div>
              <div class="daily-subtitle">
                <h5>POPULAR EDUCATION FOR YOUR CHILD</h5>
              </div>
              <div class="daily-text">
                <p> Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum honestatis, 
                    ad his consulatu pertinacia deterruisset. 
                    Te bonorum ancillae nec. Mea errem alterum in, harum iudico vel et, nec atqui propriae id.</p>
              </div>
              <div class="daily-list">
                <ul>
                  <li>Learning program with after-school </li>
                  <li>Opportunities to scientific experiments </li>
                  <li>Positive learning environment</li>
                  <li>Learning through play </li>
                  <li>Individual attention in small classes</li>
                </ul>
              </div>
              <div class="daily-button">
                <button type="button" class="btn btn-outline-primary rounded-pill">More Info</button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="services-items">
              <div class="row">
                
                <div class="col-md-4">
                  <div class="item-icon"><i class="fas fa-school"></i></div>
                  <div class="item-title">GREAT FACILITIES </div>
                  <div class="item-text">Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum.</div>
                </div>
  
                <div class="col-md-4">
                  <div class="item-icon"><i class="fas fa-trophy"></i></div>
                  <div class="item-title">FUNNY GAMES </div>
                  <div class="item-text">Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum.</div>
                </div>
  
                <div class="col-md-4">
                  <div class="item-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                  <div class="item-title">VARIED CLASSES </div>
                  <div class="item-text">Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum.</div>
                </div>
  
                <div class="col-md-4">
                  <div class="item-icon"><i class="fas fa-vials"></i></div>
                  <div class="item-title">SCIENCE LABS </div>
                  <div class="item-text">Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum.</div>
                </div>
  
                <div class="col-md-4">
                  <div class="item-icon"><i class="fas fa-ice-cream"></i></div>
                  <div class="item-title">DELICIOUS MEALS </div>
                  <div class="item-text">Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum.</div>
                </div>
  
                <div class="col-md-4">
                  <div class="item-icon"><i class="fas fa-bus-alt"></i></div>
                  <div class="item-title">SCHOOL BUS </div>
                  <div class="item-text">Alterum accommodare duo cu. Ius labore luptatum efficiendi ex, ne vim enim rebum.</div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <!--End Our SERVICES-->

