@import "./wiper-bundle.css"; 
@import "./swiper-bundle.min.css"; 

@import "./theme";
@import "./function";


@font-face {
  font-family: 'Texterius';
  src: url(../fonts/the-texterius/Texterius.ttf);
}

@font-face {
  font-family: 'Texterius-o';
  src: url(../fonts/the-texterius/Texterius.otf);
}

@font-face {
  font-family: 'Texterius-Oblique';
  src: url(../fonts/the-texterius/Texterius-Oblique.ttf);
}

@font-face {
  font-family: 'Texterius-Italic';
  src: url(../fonts/the-texterius/Texterius-Italic.ttf);
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url(../fonts/montserrat/Montserrat-MediumItalic.otf);
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url(../fonts/montserrat/Montserrat-Thin.otf);
}


// font-family: 'Texterius';
// font-family: 'Texterius-o';
// font-family: 'Texterius-Oblique';
// font-family: 'Texterius-Italic';
// font-family: 'Montserrat-Medium';
// font-family: 'Montserrat-MediumItalic';
// font-family: 'Montserrat-Thin';


@mixin cards-title {
  padding-top: .5rem;
  color: #000;
  font-family: 'Texterius-o';
  font-variant: all-small-caps;
  font-size: 21px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0px;
}

@mixin hr-effect {
  width: 4rem;
  left: 0;
  margin-left: 0;
  background-color: #000;
  margin: 0.5rem 0;
  transition: all 0.2s ease-out;

}

@mixin hr-hover-effect {
  width: 7rem;
  background-color: #f26922;
  transition: all 0.2s ease-out;
}




//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.bg-color{
  background-color: #f26922 !important;
  color: #fff;
}

.fixed-top-effect{
  border-bottom: 1px solid #61616130;
  background-color: #053540e6;
  transition: all .5s ease-in-out;
  .nav-link{
    text-shadow: 0px 0px 1px;
    color: #f26922;
  }
  .top-menu{
    hr{
      border-top: 1px solid #f26922;
    }
  }
  .top-menu-info{
    .header-top-left{
      p{
        color: #ffffff !important;
      }
    }
    .header-top-right{
      p{
        color: #ffffff !important;
      }
    }

  }

}
// ===========================================> Sections Padding
.services,
.gallery,
.teachers,
.counter,
.events{
  padding: 9rem 0;
}
.welcome{
  padding:0;
}
.events{
  padding-bottom: 0;
}

.section-body{
  margin-top: 5rem;
}

//   ========================================>  top-menu Section
.top-menu{
  .top-menu-info{
    p{
      color: #fff;
      display: inline-block;
      // background-color: mat-color($primary, lighter);
    }
    p:last-child{
      // background-color: #0f303f;
      margin-left: 25px;
    }
  }
  .bg-light{
    background-color: transparent !important;
    background-color: var(--app-bar-color);

  }
  hr{
    margin: 0;
    border-top: 1px solid rgb(239, 239, 239);
  }
  .navbar{
    padding: 0;
    img.logo{
      width: 79px;
      position: absolute;
      top: 2px;
    }
    .navbar-nav{
      padding-top: 8px;
    }
  }

  .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-variant: all-petite-caps;
    letter-spacing: 2px;
    font-family: 'Texterius';
    text-shadow: 0px 6px 12px #000;
    font-size: 17px;
  }

  .active{
    background-color: rgb(242 105 34) !important;
    font-weight: 700;
    .nav-link{
      color: rgb(36 72 83);

    }
  }
}

//   ========================================>  sheared-menu Section
.sheared-menu{
  // background-image: url(https://www.mescairo.com/images/1920x730_slide2.jpg);
  height: 380px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .page-title{
    text-align: center;
    color: #fff;
    margin-bottom: 90px;
    // text-shadow: 0px 2px 0px;
    span{    
      font-size: 2.5rem;
    }
    .breadcrumb{
      background-color: transparent;
      border-radius: .25rem;
      margin: auto;
      padding: 0;
      width: 140px;

      .breadcrumb-item{
        margin: auto;
      
        a{
          color: #fff;
        }
      }
    }

    .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: .5rem;
      color: #ffffff;
      content: ">";
    }

  }

  .bg-dark{
    background-color: transparent !important;
  }
  .fixed-footer-menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
  }
  .navbar{
    padding: 0 0 35px 0;
    img.logo{
      width: 79px;
      position: absolute;
      top: 2px;
    }
    .navbar-nav{
      padding-top: 8px;
    }
  }

  .navbar-nav .nav-link{
    color: #fff;
    font-variant: all-petite-caps;
    letter-spacing: 2px;
    font-family: "Texterius";
    text-shadow: 0px 6px 12px #000;
    font-size: 17px;
  }

  .active{
    background-color: rgb(242 105 34) !important;
    font-weight: 700;
  }

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(2 21 45 / 78%);
    
  }
}

.section-head{
  h4{
    font-variant: all-petite-caps;
    font-size: 4rem;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// => Home Page <= ////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
//   ========================================>  Slide Section
.slider {

    .carousel {
      
      .carousel-inner {

        .carousel-item{
          h5{
            text-transform: uppercase;
            position: absolute;
            bottom: 25rem;
            font-size: 2rem;
          }
          p{
            position: absolute;
            bottom: 20rem;
          }
          
        }

        .carousel-item:nth-child(1){
          h5 {

          text-align: left;
          span {
            display: block;
            color: #f26921;
            }
          }
          p{
            left: 0;
          }
        }

        .carousel-item:nth-child(2){
          h5 {

          text-align: left;
          right: 0;
          span {
            // background-color: indianred;
            display: block;
            color: #f26921;
            }
          }
          p{
            right: 0;
          }
        }


        .carousel-item:nth-child(3){
          h5 {
          top: -300px;
          text-align: center;
          left: 0;
          right: 0;
          span {
            // background-color: indianred;
            display: block;
            color: #f26921;
            }
          }
          p{
            left: 0;
            right: 0;
          }
        }

      }
    }
    .carousel-control-container{
      // background-color: #f26921;
      // border: 8px solid #0f303f;
      width: 215px;
      position: absolute;
      left: 51px;
      bottom: 65px;
      height: 100px;
      .carousel-control-next {
        left: 120px;
      }
      .carousel-control-next,
      .carousel-control-prev {
        position: absolute;
        top: 7%;
        width: 72px;
      }
    }
  
  }
//   ========================================>  Cardes Section
.head-cards{
  // padding: 50px;
  // background-color: aqua;
  position: relative;
  padding-bottom: 0;
  .cards{
    // background-color: aquamarine;
    position: absolute;
    top: -62px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99 ;
    .card{
      position: relative;
      box-shadow: 0px 16px 5px -6px #d4d4d4;  
      .circle-number{
        position: absolute;
        background-color: #d6d6d6;
        margin: auto;
        left: 0;
        right: 0;
        width: 35px;
        height: 35px;
        color: #000;
        top: -17px;
        border-radius: 20px;
        line-height: 2.3;
        text-align: center;
        box-shadow: -1px 5px 26px -7px grey;
      }
    }
  }
}

//   ========================================>  welcome Section
.welcome{
  position: relative;
  overflow: hidden;

  .section-head{
      padding: 6rem 150px 0;
      text-align: center;
      position: relative;

      // background-color: blueviolet;
      h4{
        font-family: 'Texterius';
        font-size: 3rem;
      }
      h5{
        margin: auto;
        width: 70%;
        font-size: 1.3rem;
        padding: 3rem 2rem;
        font-family: 'HS-Ishraq-Thin';
      }

      &:before{
        content: "";
        width: 4%;
        height: 19%;
        transform: rotate(0deg);
        position: absolute;
        // top: 23%;
        right: 0;
        bottom: -6rem;
        background-color: rgba(12, 41, 77, 0.43);
        transition: all 0.2s ease-out;
        border-top-left-radius: 263px;
      }
      
      &:hover::before{
        content: "";
        width: 100%;
        height: 393%;
        transform: rotate(35deg);
        position: absolute;
        bottom: -50rem;
        right: -60rem;
        background-color: rgba(210, 97, 39, 0.25);
        // background-color: var(--cardBackground);
        transition: all 0.2s ease-out;
      }
  }

  .section-body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #130f0f59;
  }

  .section-body{
    background-color: #f0f0f085;
    position: relative;
    overflow: hidden;
    background-image: url(../image/login.png);
  
    #square{
      // position: fixed;
        // height: 1500px;
      position: absolute;
      // z-index: -1;
      top: -80px; 
      left: 0px;
      width: 100%;
      height: 150%;
      background-color: #0f303f;
      background-image: url(../image/login.png);
      background-size: cover;
      background-position: bottom;
      margin-top: -550px;
      // opacity: .3;
    }
    .container{
      padding: 5rem 0;
      .img-container{
        position: relative;
        top: 5px;
        left: 5px;
        width: 500px; 
        height: 500px; 
        overflow: hidden; 
        border: 5px solid;
        border-color: #000 #000 #000 transparent;
        border-color: linear-gradient(to right, red, orange);
        border-right-color: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
        border-radius: 100%;
        padding: 50px;    
        img{
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
        .list-group{
          list-style-type: disc !important;
          .list-group-item {
            border: none;
            padding: 1.75rem 4.25rem;
            transition: all 0.2s ease-out;
            h6{}
            hr{
              @include hr-effect();
            }
            p{}
          }
          .list-group-item:hover{            
            h6{
              color: #f26922;
              transition: all 0.2s ease-out;
            }
            hr{
              @include hr-hover-effect();
            }
          }
          .bg-color:hover{
            h6{
              color: #06527e;
            }
            hr{
              width: 7rem;
              background-color: #06527e;
              transition: all 0.2s ease-out;
            }
            p{
              color: #06527e;
            }
          }
        }
      }
  }
   

}

//   ========================================>  services Section
.services{
  // background-color: cadetblue;
  position: relative;
  // padding: 150px 0;
  overflow: hidden;
  .section-head{}
  
  .section-body{
    .daily-care{
      .dayli-ttile{
        font-family: 'Montserrat-Medium';
      }
      .daily-subtitle{
        margin-bottom: 2rem;
        font-family: 'Montserrat-Medium';
      }
      .daily-text{}
      .daily-list{
        margin-bottom: 2rem;
        ul{
          // background-color: chocolate;
          list-style: none;
          margin: 0;
          padding: 0;
        }

        li:before {
          font-family: "Font Awesome 5 Free";
          content: "\f058";
          padding-right: 1.5rem;
          display: inline-block;
          color: #ff4e31;
        }

      }
      .daily-button{
        button{
          font-family: 'Montserrat-Medium';
        }
      }
    }

    .services-items{
      text-align: center;
      margin: auto;
      .col-md-4{
        margin: 0;
        padding: 0;

      }
      .item-card{
        padding: 10px;

        .item-icon{
          text-align: center;
          padding: 1.2rem;
          font-size: 1.8rem;
          border-radius: 50px;
          border: 1px solid black;
          width: 5rem;
          margin: auto;
          margin-bottom: 2rem;
          text-shadow: -7px 12px 11px;
          box-shadow: -18px 12px 15px -9px grey;
        }
  
        .item-title{
          font-family: 'Montserrat-Medium';
        }
        .item-text{}
      }
      .item-card:hover{
        transition: all .2s ease-out;
        box-shadow: 0px 22px 14px -10px #25201d;
        // border: .1px solid rgba(168, 168, 168, 0.438);
      }
      .bg-color{
        .item-icon{
          border: 1px solid rgb(255, 255, 255) ;
          text-shadow: -7px 12px 11px #000 !important;
          box-shadow: -18px 12px 15px -9px grey;
        }
      }
    }
  }

  &:before{
    content: "";
    width: 5%;
    height: 8%;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 41, 77, 0.43);
    transition: all 0.2s ease-out;
    border-top-left-radius: 100px;
  }

  &:hover::before{
    content: "";
    width: 100%;
    height: 393%;
    transform: rotate(35deg);
    position: absolute;
    bottom: -98rem;
    right: -60rem;
    background-color: rgba(210, 97, 39, 0.25);
    transition: all 0.2s ease-out;
  }

}

//   ========================================>  gallery Section
.gallery{
  position: relative;
  background-color: #f26922;
  color: #fff;
  .section-body{
    margin-top: 2.5rem;
    .gallery-buttons{
      // background-color: lightslategrey;
      padding: 0;
      margin: 0;
      list-style-type: none;
      margin: auto;
      width: 50%;
      text-align: center;
      li{
        display: inline;
        padding: .5rem;
        margin: .8rem;
        border-radius: 5px;
        font-size: 1.1rem;
        color: #fff;
        width: 6rem;
        // border: .5px red solid;
        // background-color: lightsteelblue;
      }
    }
    .filter-container{
      .filtr-item{
        width: 25%;

        .card{
          margin: 16px;
          padding: 0;
          border: 0;
          img{
            width: 100%;
          }
          h5{
            @include cards-title;
          }
          p{
            color: #000;
            padding: 0 1rem 1rem;
            font-family: 'Montserrat-Medium';
            font-size: 13px;
          }
        }
      }
    }
  }
  .galllary-active{
    // border: .5px rgb(61, 5, 5) solid !important;
    background-color: #0f303f !important;
  }
}

//   ========================================>  teachers Section
.teachers{
  background-color: #f0f0f085;
  // padding: 150px 0;
  .section-head{}

  .section-body{
    .card{
      transition: all .2s ease-in-out;
      background-color: transparent;
      border: none;
      text-align: center;
      .card-img-top{
        width: 100%;
        border-radius: 100%;
      }
      .card-body{
        padding: .25rem;
        span{
          font-style: italic;
          font-optical-sizing: .8rem;
          font-size: 1.1rem;
          margin-bottom: .5rem;
          color: #6f6f6f;
        }
        p{
          font-size: 0.9rem;
          padding: .25rem;
        }
      }
      .connect-media{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
          display: inline;
          background-color: maroon;
          color: #fff;
          padding: 0.5rem;
          margin: .5rem;
          border-radius: 25%;
        }
        li:hover{
          cursor: pointer;
        }
      }

    }      
    .card:hover{
      transition: all .2s ease-out;
      box-shadow: 0px 22px 14px -10px #25201d;
      border: .1px solid rgba(168, 168, 168, 0.438);
    }
 
  }
}

//   ========================================>  counter Section
.counter{
  // padding: 80px 0;
  position: relative;
  background-image: url(../image/counter/graduates.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff;

  .section-head{
    color: #fff;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
  }
  .section-body{
    margin-top: 11rem;
    .c-card{ 
      border: 1px solid;
      background-color: rgba(203, 207, 206, 0.021);
      width: 80%;
      margin: auto;

      .icon-c{
        font-size: 5rem;
        color: rgba(218, 218, 218, 0.767);

      }
      .number-c{
        font-family: "Texterius";
        letter-spacing: 0.1rem;
        font-size: 2rem;
      }
      hr{
        width: 2.5rem;
        height: .1rem;
        background-color: #f2672285;
      }
      .text-c{
        font-family: "Texterius";
        letter-spacing: .4px;
        color: rgba(218, 218, 218, 0.767);
      }

      &:hover{
        border: 1px solid;
        hr{
          width: 5.5rem;
          left: 0;
          background-color: #f26922;
        }
      }
    }
  }

  &:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(12 41 77 / 81%);
  }
}

//   ========================================>  events Section
.events{
  background-color: #f0f0f085;
  // padding: 150px 0 0;
  position: relative;
  overflow: hidden;

  .section-head{}
  
  .section-body{

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      // width: 313px !important;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .card{
        text-align: left;
        border: none;
        border-top-right-radius: 30px;
        .card-img-top{
          border: 0;
        }
        hr{
          margin: .5rem;
        }
        .card-body{
          padding: .5rem 1.25rem;
          
         .top-event-info{
          color: #9a8200;
          font-size: 1rem;

          span:nth-child(2){
            margin: 0 .4rem;
          }
         }
         .card-title{
          // font-weight: 600;
          font-variant: all-petite-caps;
          font-size: 2rem; 
        }
         .card-text{
          line-height: 1.2rem;
          font-size: 1.1rem;
          color: #616161;
         }
         .bottom-body{
           i{
            line-height: 1.8rem;
            margin-right: 0.5rem;
           }
           .share-media{
            // background-color: hotpink;
            i{
              // background-color: indigo;
              font-size: 1.25rem;
            }
            i:hover{
              color: rgb(83, 81, 60);
              cursor: pointer
            }
           }
         }
       } 
      }
    }
  }

  .section-footer{
    padding: 3rem 0;
    
    background-color: brown; 
    color: #fff; 
    margin-top: 2rem;
  }

  &:before{
    content: "";
    width: 5%;
    height: 8%;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 41, 77, 0.43);
    transition: all 0.2s ease-out;
    border-top-left-radius: 100px;
  }

  &:hover::before{
    content: "";
    width: 100%;
    height: 393%;
    transform: rotate(35deg);
    position: absolute;
    bottom: -98rem;
    right: -60rem;
    background-color: rgba(210, 97, 39, 0.25);
    transition: all 0.2s ease-out;
  }

}

//   ========================================>  about-section Section
.about-section{
  padding: 2rem 0;
  .section-head{
  }
  .section-body{
    text-align: center;
    margin-top: 2.5rem;
    .row{
      .col-md-3{
        padding: 0;
        margin: 0;
        .card{
          .card-body{
            box-shadow: -6px 0px 3px -3px grey;
          }
        }
      }

    }
  }
}

//   ========================================>  footer Section
.front-footer{
  padding: 17px 0 0;
  background-color: #07294d;
  color: #fff;

  .footer{

    .footer-section-head{
      .title{
        margin: 0px 0 22px 0px;
        font-variant: common-ligatures;
      }
    }

    .footer-section-body{
      ul{
        padding-left: 15px;
      }
      a{
        color: beige;
        text-decoration: none;
      }
      a:hover{
        color: rgb(223, 223, 223);
      }

      }
    .social-media{
      i{
        padding: 5px;
        margin: 0 10px;
        font-size: 2.5rem;
      }
    }

    .footer-text{
      background-color: #2d4a6f;
      padding: 12px;
      border-radius: 6px;
      span{
        color: #fff;
      }
    }
  }

  .bottom-footer{
    background: #072346;
    background-size: unset;
    background-position: center;
    padding: 20px 0 20px;
    margin-top: 15px;
    box-shadow: 10px 10px 10px 10px #ffffff12;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// => Abou Us Page <= /////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
.p-about-us{
  padding: 70px;
  position: relative;
  .about-inf{

    h6{
      font-family: 'Montserrat-Thin';
      font-weight: 900;

    }
    hr{
      @include hr-effect();
    }
    h3{}
    p{
      margin: 30px;
      font-family: 'Texterius-o'; 
      color: #7d7d7d;
    }

    &:hover{
      hr{
        @include hr-hover-effect();
      }
    }
  }
  .about-imgs{
    // background-color: aqua;
    // position: relative;
    .images{
      // width: 100px ;
      .about-img:nth-of-type(1){
        // width: 80%;
        // position: relative;
        img{
          position: absolute;
          top: 20px;
          left: 150px;          
          width: 100%;
          z-index: 1;
        }
      }
      .about-img:nth-of-type(2){
        img{
          position: absolute;
          top: 112px;
          left: 20px;          
          width: 60%;
          z-index: 2;

        }      
      }

      .about-img:nth-of-type(3){
        z-index: 3;
        img{
          position: absolute;
          top: 237px;
          left: 5px;
          width: 40%;
          z-index: 3;
        }      
      }

    }

  }
}

.container2{
  // background-color: #efefef80;
  padding: 70px 0;
  position: relative;
  overflow: hidden;
  color: #fff;
  .c-number{
    span{
      font-family: 'Montserrat-Thin';
      font-size: 39px;
    }
  }
  .c-title{
    h3{}
  }
  .c-text{
    p{
      font-family: 'Texterius-o'; 
      color: #e9e9e9;
    }
  }
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../image/about-page/dot-shape-bg.png);
    background-color: rgba(12, 41, 77, 0.72);
  }
  
  // &:before {
  //   content: "";
  //   background: url(../image/about-page/dot-shape-bg.png);
  //   opacity: 0.5;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   // z-index: -1;   
  // }

}

.connect-section{
  .section-body{
    padding: 2rem 0;
    text-align: center;
    .row{
      .col-md-3{
        padding: 0;
        margin: 0;
        .card{
          .card-title{
            background-color: brown;
            color: #fff;
            border-radius: 50px;
            width: 5rem;
            padding: 1rem;
            margin: 0 auto 2REM;
          }
          span{
            font-size: 1.5rem;
            border-bottom: 1px;
            border-bottom-width: 1.5px;
            border-bottom-color: #0f303f;
            border-bottom-style: solid;
            margin-bottom: 1rem;
            padding-bottom: -6px;
            display: inline-block;
          }
          .card-body{
            box-shadow: -6px 0px 3px -3px grey;
            i{
              font-size: 3rem;
            }
          }
        }
      }

    }
  }
}

.msg-location-section{
  .section-body{
    padding: 2rem 0;
    // background-color: turquoise;
    .map-frame{
      .card-body{
        padding: 0;
      }
    }

  }
}


////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// => Blog Page <= /////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
.p-blog{
  .blog-cards{
    .card{
      margin-bottom: 15px;
      .card-img-top{}
      .card-body{
        .card-info{}
        ul{
          list-style: none;
          li{
            display: inline-block;
            margin: 5px 12px;
            i{
              color: #e96522;
              // margin-left: 10px;
              padding: 0 5px;
            }
          }
        }
        .card-title{}
        .card-text{}

        a{
          background-color: #e96522;
          color: #fff;
        }
      }
    }
   }
  .blod-asid{ 
    .widget{
      padding: 25px 10px;
      background-color: #edf0f2;
      margin-bottom: 25px;
      .widget-title{
        hr{
          @include hr-effect();
        }
      }
      .widget-body{
        form{
          input[type="text"]{
            // background-color: aqua;
            width: 75%;
            display: inline-block;
            margin-right: 20px;
          }
          button[type="submit"]{
            background-color: #f16922;
            color: #fff;
          }
        }

        .blog-posts{
          ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
              display: flex;
              margin-bottom: 25px;
              .post-img{
                width: 25%;
                margin:0 12px;
                overflow: hidden;
                border-radius: 100%;
                img{
                  width: 140%;
                }
              }
              .post-info{
                padding: 0 2px;
                // background-color: aqua;
                display: inline-block;
                border-bottom: 1px solid black;
                // border-bottom-width: 5px;
                a{
                  color: black;
                }
                .post-date{
                  color: grey;
                }
              }
            }
          }
        }

        .list-group{
          padding: 20px 26px !important;
          .list-group-item{
            border: none;
            background-color: transparent;
            border-bottom: 1px solid gray;
            margin-bottom: 0;
            padding-left: 0;
          }
        }

        .tags{
          a{
            background-color: #e96522;
            color: #fff;
            padding: 8px;
            margin: 5px;
            display: inline-block;
            border-radius: 4px;

            &:hover{
              cursor: pointer;
              box-shadow: -4px 4px 16px -7px black;
              
            }
          }
        }

      }
    }
  }

  .blog-pagination{
    .pagination{
      .page-item{
        a{
          color: #e96522;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// => Abou Us Page <= /////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////







#content{
  overflow: visible;
  text-align: center;
  font-size: 1.5rem;
}
#container{
  width: 100%;
}

// #square{
//   position: fixed;
//   z-index: -1;
//   top: 0px; 
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   background-color: #0f303f;
//   // background-image: url(https://schule.cmsmasters.net/wp-content/uploads/2016/07/3-1-860x575.jpg);
// }

#rectangle{
  position: fixed;
  z-index: -1;
  bottom: 0px; 
  left: 50px;
  width: 200px;
  height: 100px;
  background-color: red;
}

#circle{
  position: fixed;
  z-index: -1;
  bottom: 0px; 
  right: 0px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50px;
}
.overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}
.overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}

.loading-screen{
  background-color: #333e3bf2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .spinner-border{
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.backToTopPage{
  position: fixed;
  right: 40px;
  bottom: 45px;
  z-index: 999;
  background-color: #e96522;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding: 0;
  transition: all ease-in-out .5s;
  display: none;
  .fas{
    font-size: 1.5rem;
    line-height: 2;
    text-shadow: -2px 7px 8px black;
  }

  &:hover{
    box-shadow: -4px 4px 16px -7px black;
    cursor: pointer;
  }
}


// ======================================================================================== => Media Query

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  
  .top-menu{
    .navbar{
      img.logo {
        width: 45px;
        position: static;
      }
      .navbar-nav{
        padding: 0;
      }
    }
    .navbar-light{
      .navbar-toggler {
        color: rgb(242 105 34);
        border-color: rgb(144 101 78);
        background-color: #f3d7cb;
      }

      .navbar-nav{
        .nav-link{
          padding: 0.2rem 1rem;

        }
      } 
    } 
  } 

  .navbar-toggler{
    padding: 0;
  }
   
  .sheared-menu{
    .navbar{
      .navbar-nav{
        padding-top: 0;
        .nav-link{
          padding: 0.2rem 1rem;
  
        }
      }
    }
  } 

  .section-head h4 {
    font-size: 31px;
  }
  .section-head h5 {
    font-size: 1rem;
  }

  .carousel-control-container{
    display: none;
    visibility: hidden;
  }
  .services, 
  .gallery, 
  .teachers, 
  .counter, 
  .events {
    padding: 2rem 22px;
  }

  .section-body {
    margin-top: 2rem;

    h4{
      font-size: 1rem;
    }
    h5{
      font-size: .8rem;

    }
  }

  .head-cards{
    padding-bottom: 0;
    .cards{
      top: -20px;
      z-index: 99;
      .col-4{
        padding-left: 5px;
        padding-right: 5px;
        .card{
          border: 0;
          box-shadow: 0px 11px 5px -7px #d4d4d4;
          .circle-number{
            width: 25px;
            height: 25px;
            top: -24px;
            line-height: 2.3;
            line-height: 2;
            font-size: 13px;
          }
          .card-body{
            padding: 3px;
            p{
              font-size: 9px;

            }

          }
        }
      }
    }
  }

  .welcome{ 
    .section-head {
      padding: 3rem 0px 0;
      h4{
        font-size: 2rem;
      }
      h5{
        width: 100%;
        font-size: 1rem;
        padding: 0rem 2rem;
      }
      .img{
        width: 32%;
        margin: auto;
        img{
          width: 100%;
        }
      }
      
    }
    .section-body{
      margin-top: 2rem;
      .container{
        padding: 2rem 0;
        .img-container{
          width: 270px;
          height: 270px;
          top: -6%;
          left: 8%;
          margin: 25px 0;
        }
        .list-group{
          .list-group-item{
            border: none;
            padding: .75rem 1.25rem;
            transition: all 0.2s ease-out;
            font-size: 10px;

            hr{
              margin: 0.3rem 0;
            }
            p{
              margin: 0;
            }
          }

        }
      }
    }
    &:before{
      content: "";
      width: 100%;
      height: 250%;
      transform: rotate(35deg);
      position: absolute;
      bottom: -50rem;
      right: 0;
      background-color: rgba(210, 97, 39, 0.25);
      transition: all 0.2s ease-out;
  
    }
  }

  .services{
    .section-body{
      .services-items{
        margin: 38px 0px 0 0;
      }
      .daily-care{
        .dayli-ttile{
          h3{
            font-size: 1rem;
          }
        }
        .daily-subtitle{
          margin-bottom: 1rem;
        }
        .daily-text{
          p{
            font-size: .8rem;
          }
        }

        .daily-list{
          margin-bottom: 1rem;
          ul{
            li{
              font-size: .8rem;
              &::before{
                padding-right: .8rem;
              }
            }
          }
        }

        .daily-button{
          button{
            width: 50%;
            height: 28px;
            font-size: 13px;
            line-height: 1;
          }
        }

      }
    }

    .services-items{
      margin: 38px 0px 0 0;
      .item-card{
        .item-icon{
          padding: 1.2rem;
          font-size: .9rem;
          width: 4rem;
          margin-bottom: 1rem;
        }
        .item-title{
          font-size: 12px;
        }
        .item-text{
          font-size: 12px;
          // color: #f7f4f4;
        }

      }
      .bg-color{
        .item-text{
          font-size: 12px;
          color: #f7f4f4;
        }
      }
    }
    &:before{
      content: "";
      width: 142%;
      height: 451%;
      transform: rotate(35deg);
      position: absolute;
      bottom: -102rem;
      right: -54rem;
      background-color: rgba(210, 97, 39, 0.25);
      transition: all 0.2s ease-out;
    }
  }

  .gallery{
    .section-body {
      margin-top: 1.5rem;
      .gallery-buttons{
        width: 100%;

        li{
          padding: 0.1rem;
          margin: 0rem;
          font-size: .9rem;
          width: 4.5rem;
        }
      }

      .filter-container{
        .filtr-item{
          width: 50% !important;

          .card{
            h5 {
              font-size: 16px;
            }
            p{
              font-size: 0.8rem;
              padding: .2rem;
            }
          } 
        }
      } 
    }
  } 

  .teachers{
    .card{
      margin-bottom: 20px;
      border: .5px solid #ababab !important;
      .card-body{
        p{    
          font-size: 10px !important;
        }
        
      }
      .connect-media{
        li{
          padding: 0.2rem !important;
          margin: 0.2rem !important;
        }

      }
    }

  }

  .counter{
    .section-body{
      margin-top: 4rem;
      .c-card{
        margin-top: 40px;
        width: 100%;

        .icon-c{
          font-size: 2rem;
          padding-top: 16px;
        }
        .number-c{
          font-size: 1.5rem;
        }
        .text-c{
          font-size: 13px;
        }
      }
    }

  }

  .events{
    .section-body{
      .swiper-slide{
        .card{
          .card-body{
            padding: 0.5rem 0.25rem;
            .top-event-info{
              .bd-highlight{
                margin-bottom: .5rem!important;
                span{
                  font-size: .8rem;
                }
              }
            }
            .card-title{
              font-size: 1.1rem !important;
              margin-bottom: .25rem;
            }
            .card-text{
              line-height: 1.1rem !important;
              font-size: .8rem !important;
              color: #616161 !important;
              margin-bottom: .25rem;
            }
            hr {
              margin: 0.1rem;
            }
            .bottom-body{
              font-size: 12px;
              line-height: 2;

              i{
                display: none
              }
            }
          }
        }
      }
    } 

    .section-footer{
      margin-top: 1rem;   
      padding: 1rem 0;
      p{
        margin-top: 5px;
        font-size: 13px;
      }
    }
    &:before{
      content: "";
      width: 129%;
      height: 494%;
      transform: rotate(35deg);
      position: absolute;
      bottom: -456px;
      right: -63rem;
      background-color: rgba(210, 97, 39, 0.25);
      transition: all 0.2s ease-out;
    }
  } 

  .about-section{
    .card{
      .card-body{
        .card-title{
          font-size: 1rem;
        }
        p{
          font-size: 12px;

        }
      }
    }
  }

  .front-footer{

    .footer-text{
      border-radius: 6px;
      font-size: 12px;
    }

    .bottom-footer{
      background-size: unset;
      background-position: center;
      padding: 16px 6px 12px;
      margin-top: 10px;
      box-shadow: 10px 10px 10px 10px #ffffff12;
      font-size: 11px;
    }
  } 


  .backToTopPage{
    right: 20px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    .fas{
      font-size: 1.2rem;
    }  
  }
// 

  .p-about-us{
    padding: 20px;

    .about-imgs{
      .images{
        .about-img:nth-of-type(1) img{
          position: static;
        }
        .about-img:nth-of-type(2) img{
          left: unset;
          right: 0;
        }
        .about-img:nth-of-type(3) img{
          top: 146px;
        }
      } 
    } 
    .about-inf{
      h3 {
        font-size: 1.25rem;
      }

      p{
        margin: 0px 0 0 10px;
        font-size: 14px;
      }
      .btn{
        margin: 12px 0;
        padding: 5px;
        font-size: 13px;
      }
    } 

  }

  .container2{
    .c-number{
      span{
        font-size: 30px;
      }
    } 
    .c-title{
      h3{
        font-size: 1.35rem;
      }
    }
    .c-text{
      p{
        font-family: "Texterius-o";
        color: #e9e9e9;
        font-size: 13px;
      }
    } 

  } 

  .p-blog{
    padding: 13px;
    .blog-cards{
      .card{
        .card-body{
          padding: 0 8px;
          ul{
            padding: 0;
            margin: 2px 0;

            li{
              margin: 5px 5px;
              i{
                padding: 0 2px;
                font-size: 14px;
              }
              span{
                font-size: 12px;
              }
            }
          }
        } 
      } 
    } 
  }

}





// Medium devices (tablets, 768px and up)
@media (max-width: 768px){}

@media (min-width: 1000px){}

// Large devices (desktops, 992px and up)
// @media (max-width: 992px) { 
//  }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
