

<app-sheard-header pgTitle="About Us" bgImgage="bg-1.jpg"></app-sheard-header>


<section class="p-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-inf">
          <h6>About Us</h6>
          <hr>
          <h3>Welcome to The School...</h3>
          <p>
            Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci 
            elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet. 
            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt mauris.
          </p>
          <p>
            auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet. 
            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt mauris
          </p>
          <button type="button" class="btn btn-info">Explore More</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-imgs">
          <div class="images">
            <div class="about-img about-img1">
              <img src="assets/image/login.png" alt="">
            </div>
            <div class="about-img about-img2">
              <img src="assets/image/about-page/about-image.jpg" alt="">

            </div>
            <div class="about-img about-img3">
              <img src="assets/image/about-page/about-image1.jpg" alt="">

            </div>          
          </div>

        </div>

      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div> -->
  </div>
</section>


<section class="container2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="c-number">
          <span>01</span>
        </div>
        <div class="c-title">
          <h3>Why Choose us</h3>
        </div>
        <div class="c-text">
          <p>
            Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem 
            quibibendum auci elit sollicitudirem quibibendum auci
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="c-number">
          <span>02</span>
        </div>
        <div class="c-title">
          <h3>Our Mission</h3>
        </div>
        <div class="c-text">
          <p>
            Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem 
            quibibendum auci elit sollicitudirem quibibendum auci
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="c-number">
          <span>03</span>
        </div>
        <div class="c-title">
          <h3>Our Visions</h3>
        </div>
        <div class="c-text">
          <p>
            Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem 
            quibibendum auci elit sollicitudirem quibibendum auci
          </p>
        </div>
      </div>

    </div>
  </div>
</section>


<!--About Us-->
  <app-about-section></app-about-section>
<!-- end About Us-->
  