<section class="forgot-password">
  <div class="forgot">
    <span class="opacity"></span>
    <div class="auth-form">
    
      <h4 class="text-center">forgot Password</h4>
      
      <form (ngSubmit)="onForgitPass(auth)" #auth="ngForm">
        <div class="example-container">
          <mat-form-field>
            <input
              ngModel
              matInput
              required
              email
              #email="ngModel"
              type="email"
              name="authEmail"
              placeholder="your Email ">
              <mat-error *ngIf="email">Default Testing Admin E-mail => t@ee.com</mat-error>
          </mat-form-field>
          <div class="example-button-row">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="auth.invalid">send</button>
          </div>
          </div>
      </form>
  
    </div>
  
  </div>

</section>
