<footer class="front-footer">
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-section-head">
                        <h6 class="title">QUICK LINKS</h6>
                    </div>
                    <div class="footer-section-body">
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <ul>
                                    <li><a href="#"> About Us</a></li>
                                    <li><a href="#"> Services</a></li>
                                    <li><a href="#"> Gallery</a></li>
                                    <li><a href="#"> About</a></li>
                                    <li><a href="#"> About</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6">
                                <ul>
                                    <li><a href="#"> About Us</a></li>
                                    <li><a href="#"> Services</a></li>
                                    <li><a href="#"> Gallery</a></li>
                                    <li><a href="#"> About</a></li>
                                    <li><a href="#"> About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-section-head">
                        <h6 class="title">NEWSLETTER</h6>
                    </div>
                    <div class="footer-section-body">
                        <form>
                            <div class="row">
                                <div class="col-md-8 col-8">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="col-md-4 col-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="footer-section-head">
                        <h6 class="title">NEWSLETTER</h6>
                    </div>
                    <div class="social-media">
                        <div class="d-flex justify-content-center">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter-square"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-whatsapp-square"></i>
                            <i class="fab fa-google-plus-square"></i>
                        </div>    
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-text">
                        <span> 
                            <b> <i class="fas fa-map-marker-alt"></i> </b> 
                            Egypt Qena typesetting industry. <br>
                        </span> 
                        the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer 
                        it to make a type specimen book. It has survived not only five 
                        centuries, but also
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom-footer">
        <div class="container">
            <div class="row">
                    Copyright © 2020 Taher_Ahmed. all rights reserved.
                
                    <div class="ml-auto">specimen book</div>
            </div>
        </div>
    </section>
</footer>