
<section class="container fixed-top top-menu"  appScrollMenu>

  <div class="row top-menu-info " >

    <div class="header-top-left text-left col-md-6 col-12 d-none d-md-block d-lg-block" >
      <p><i class="icofont icofont-envelope"></i><span>taher.js.stack@gmail.com</span></p>
      <p><i class="icofont icofont-ui-call"></i><span>+011 55 27 1425 </span></p>
    </div>
    <div class="header-top-right text-right col-md-6 col-12 d-none d-md-block d-lg-block ">
      <p><i class="icofont icofont-clock-time"></i><span>Mon - Sat : 8am - 9pm</span></p>
    </div>
  </div>
  <hr>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="logo" src="assets/image/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" routerLink="/index" class="nav-item active"><a class="nav-link">home</a></li>
        <li routerLinkActive="active" routerLink="/about" class="nav-item"><a class="nav-link">about</a></li>
        <li routerLinkActive="active" routerLink="/features" class="nav-item"><a class="nav-link">features</a></li>
        <li routerLinkActive="active" routerLink="/gallery" class="nav-item"><a class="nav-link">gallery</a></li>
        <!-- <li routerLinkActive="active" routerLink="/services" class="nav-item"><a class="nav-link">services</a></li> -->
        <li routerLinkActive="active" routerLink="/blog" class="nav-item"><a class="nav-link">blog</a></li>
        <li routerLinkActive="active" routerLink="/contact" class="nav-item"><a class="nav-link">contact</a></li>
      </ul>
    </div>
  </nav>
</section>